@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary_pale_blue: hsl(225, 100%, 94%);
$primary_bright_blue: hsl(245, 75%, 52%);
$neutral_very_pale_blue: hsl(225, 100%, 98%);
$neutral_desaturated_blue: hsl(224, 23%, 55%);
$neutral_dark_blue: hsl(223, 47%, 23%);

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary_pale_blue url("../images/pattern-background-desktop.svg")
    no-repeat;
}
